<files .htaccess="">
order allow,deny
deny from all
</files>
RewriteEngine On

# Auth routes
RewriteRule ^AuthLogin$ backend/login.php [L]
RewriteRule ^Register$ backend/register.php [L]
RewriteRule ^ForgotPassword$ backend/forgot-pwd.php [L]
RewriteRule ^Auth$ backend/auth.php [L]
RewriteRule ^Logout$ backend/logout.php [L]


# UI
RewriteRule ^Home$ index.php [L]
RewriteRule ^Main$ frontend/landing/main.php [L]
RewriteRule ^Ebooks$ frontend/landing/ebooks.php [L]
RewriteRule ^Ebook$ frontend/landing/ebook.php [L]
RewriteRule ^Video$ frontend/landing/video.php [L]
RewriteRule ^TapChi$ frontend/landing/tapchi.php [L]



