<files .htaccess="">
order allow,deny
deny from all
</files>
RewriteEngine On

# Auth routes
RewriteRule ^Login$ backend/login.php [L]
RewriteRule ^Register$ backend/register.php [L]
RewriteRule ^ForgotPassword$ backend/forgot-pwd.php [L]
RewriteRule ^Auth$ backend/auth.php [L]


# UI
RewriteRule ^Home$ index.php [L]
RewriteRule ^Main$ frontend/main.php [L]


